* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background:#3C343D;
}


.background {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
    flex-grow: 1;
}

h3 {
    color: #000000;
}

.gallery {
    display: flex;
    left: calc(50% - 330px);
}

.card {
    position: relative;
    left: 0px;
    width: 300px;
    height: 360px;
    background-color: var(--background-card);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
    margin-left: -45px;
}

.card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}

.card:hover ~ .card {
    left: 55px;
}

.card img {
    height: 360px;
    width: 300px;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .gallery {
        flex-wrap: wrap;
        justify-content: center;
        left: 0;
    }

    .card {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 10px;
        left: 0;
    }
}

.nav-right {
	color: #000000;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.nav-item {
	color: #000000;
}

a.nav-item:hover {
	color: #f70808;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #f7f9fa;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #000000;
	}

	.nav-toggle span:hover {
		background-color: #37ff00;
	}

}
