
:root {
    --background: #3C343D;
    --background-card: #6B626C;
    --primary-color: #191919;
    --primary: #408CF9;
    --white: #FFFFFF;
    --sidebar-primary-hover: #2B2B2F;
    --sidebar-background: #141318;
    --text-link: #FFFFFF;
    --expand-button: #408CF9;
    --logout: #FA7575;
    --search-background: #2B2B2F;
}

/*The beginning attributes are for the galleries these are the main focus of this project, 
 to focus on the sidebar I've created a navigation sidebar project */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background:#3C343D;
}

.layout-container {
    display: flex;
}

.background {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
    flex-grow: 1;
}

.gallery {
    display: flex;
    left: calc(50% - 330px);
}

.card {
    position: relative;
    left: 0px;
    width: 200px;
    height: 360px;
    background-color: var(--background-card);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
    margin-left: -45px;
}

.card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}

.card:hover ~ .card {
    left: 55px;
}

.card img {
    height: 360px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-style: none;
    background-color: #3C343D;
}
.nav-right {
	color: #ffffff;
}

a.nav-item {
	color: #ffffff;
}

a.nav-item:hover {
	color: #03fc13;
}

